# Miscellaneous compiler process files.
.buildlog/
.history
*.class
*.log
*.pyc

# Code editor and platform local preferences:
# 1. Desktop service store files of macOS.
# 2. Android Studio (IntelliJ IDE Series) local preferences.
# 3. Vim swp files might caused by Git command-line options.
.DS_Store
.idea/
*.iml
*.ipr
*.iws
*.swp

# Flutter auto managed files:
# Libraries should not include pubspec.lock,
# per https://dart.dev/guides/libraries/private-files#pubspeclock.
**/doc/api/
.dart_tool/
build/
pubspec.lock

# Cargo compilation workspace.
/target

# Node dependencies, compilation workspace and output files.
node_modules/
dist/
*.vsix

# CI scripts auto managed files.
.pubignore
